@inject NavigationManager Navigation

@rendermode InteractiveServer

<div class="card has-background-grey-darker p-4">
    <header class="card-header">
        <div class="card-header-title">
            @AlbumItem.Name<br />
            @AlbumItem.Composer
        </div>
    </header>
    <div class="card-image">
        <figure class="image is-fullwidth mt-2">
            <img src=@AlbumItem.AlbumArtUrl alt=@AlbumItem.Name @onclick="HandleOnClickNavigation"/>
        </figure>
    </div>
    <div class="card-content">
        <div><strong>Artist(s):</strong>
            @foreach (string artist in AlbumItem.Artist.Split(", ")){
                <br /><span class="pl-4"> @artist</span>
            }
        </div>
        <div><strong>Year:</strong> @AlbumItem.Year</div>
        <div><strong>Genre:</strong> @AlbumItem.Genre</div>
    </div>
</div>

@code {
    [Parameter] public Album AlbumItem { get; set; }

    private void HandleOnClickNavigation()
    {
        Navigation.NavigateTo($"/albums/{AlbumItem.Id}");
    }
}
