<div class="card has-background-grey-darker p-4">
    <header class="card-header">
        <div class="card-header-title">
            @AlbumItem.Name<br />
            @AlbumItem.Composer
        </div>
    </header>
    <div class="card-content">
        <div><strong>Artist(s):</strong> @AlbumItem.Artist</div>
        <div><strong>Year:</strong> @AlbumItem.Year</div>
        <div><strong>Genre:</strong> @AlbumItem.Genre</div>
    </div>
</div>

@code {
    [Parameter] public Album AlbumItem { get; set; }
}
